body {
  font-family: sans-serif;
  background-color: lavender;
}

form {
  display: flex;
  flex-direction: column;
}

form > * {
  width: 50%;
}

Button {
  width: 6rem;
}

h1 {
  font-size: 3rem;
}

h1,
h2 {
  text-align: center;
}

.nav {
  display: flex;
  justify-content: space-around;
  background-color: blueviolet;
}

.nav > a {
  color: white;
  font-size: 1.25rem;
}

ul.stickyFeed {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

ul.myStickies {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.stickyAndButton {
  display: flex;
  max-width: 500;
}

.stickyAndButton > Button {
  width: 7px;
  height: 25px;
}

.stickyAndForm {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.buttons {
  display: flex;
}
