/*basics*/
body {
  font-family: monospace
}

form {
  display: flex;
  flex-direction: column;
}

form > * {
  margin: 1rem;
}

h1 {
  font-size: 3rem;
}

.nav {
  display: flex;
  justify-content: space-around;
  background-color: black;
}

.nav > a {
  color: white;
  font-size: 1.25rem;
}

/*sticky feed*/
ul.stickyFeed{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
