
body {
  font-family: monospace
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

form > * {
  width: 50%;
}

form > h2 {
  text-align: right;
}

Button {
  width: 6rem; 
}

form > * {
  margin: 1rem;
}

h1 {
  font-size: 3rem;
}

.nav {
  display: flex;
  justify-content: space-around;
  background-color: black;
}

.nav > a {
  color: white;
  font-size: 1.25rem;
}

.button {
  background-color: red;
}

ul.stickyFeed{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
